footer.footer
    .footer__container.container
        a(href='index.html').footer__logo
        .footer__menu
            ul.menu__list
                li.menu__item #[a.menu__link(href='terms-of-action.html') Подробные условия акции]
                li.menu__item #[a.menu__link(href='feedback.html') Связаться с нами]
                li.menu__item #[a.menu__link(href='https://airastana.com') airastana.com]
        .footer__socials
            ul.socials__list
                li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/twitter-logo.png);')]
                li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/instagram-logo.png);')]
                li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/facebook-logo.png);')]
                li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/youtube-logo.png);')]
                li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/linkedin-logo.png);')]
        .footer__copyright &#169 airastana 2019