@font-face{
    font-family: 'DaxPro';  
    src: url('../fonts/DaxPro-Medium.eot');
    src: url('../fonts/DaxPro-Medium.eot?iefix') format('eot'),
    url('../fonts/DaxPro-Medium.otf') format('opentype'),
    url('../fonts/DaxPro-Medium.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}