$wrap: 1400px;
$desktop: 1140px;
$tablet: 768px;
$mobile: 560px;


$blue: #022b46;
$green: #006351;
$red: #910316;
$error-red: #f0170c;
$gold: #9a835a;
$dark-gold: #61491e;
$white: #f0f0f0;
$light-gray: #cdcdcd;
$gray: #9a9a9a;
$dark-gray: #7d7d7d;
$black: #383838;