extends ../layout/base

block variables
    - pageTitle = 'Air Astana' 
    - activePage = 'main'
    - header = true
    - footer = true
    - cookies = true
block content
    main
        section.top-slide