extends ../layout/base

block variables
    - pageTitle = 'Air Astana' 
    - activePage = 'main'
    - header = true
    - footer = true
    - cookies = true

block content  
    main.main-page
        section.scroll-slide.top-slide.section(data-anchor="firstPage")
            .top__image
            .top__container.container
                .top__block 
                    h2.top__title Выиграй поездку 
                    h2.top__title в Казахстан на двоих!
                    p.top__text Путешествие в Казахстан станет для вас незабываемым опытом. Познайте тайны Востока, найдите себя в затерянных красотах Борового и исследуйте сердце бескрайней степи — Нур-Султан вместе с Air Astana! 
                    a(href='test.html').top__button.base-button Пройти тест
        section.scroll-slide.middle-slide.section(data-anchor="secondPage")
            .middle-1__video
                    .middle-1__close.close-button
                        svg(class='svg-close' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 470 470" width="100%" height="100%")
                            g(id="Layer")
                                path(id="Layer" class="shp0" d="M285.37 234.69L459.36 60.7C473.26 46.82 473.26 24.3 459.36 10.42C445.48 -3.47 422.98 -3.47 409.09 10.42L235.09 184.42L61.08 10.42C47.22 -3.47 24.69 -3.47 10.81 10.42C-3.07 24.3 -3.07 46.82 10.81 60.7L184.82 234.69L10.42 409.08C-3.47 422.98 -3.47 445.48 10.42 459.36C17.36 466.31 26.46 469.78 35.57 469.78C44.66 469.78 53.76 466.31 60.7 459.36L235.09 284.97L409.09 458.96C416.04 465.9 425.13 469.39 434.23 469.39C443.32 469.39 452.42 465.9 459.36 458.96C473.26 445.08 473.26 422.58 459.36 408.69L285.37 234.69Z")
            .middle-slider.slide
                .middle-1.slide_img
                    .middle-1__image
                        video.video(width="100%" height="100%" poster="static/img/main-middle-3.jpg" autoplay muted loop)
                            source(src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4")
                    .middle-1__container.container 
                        .middle-1--slider
                            .middle-1--block
                                h2.middle-1__title.middle-1__title--center Ответь правильно на 7 вопросов и выиграй ...
                        .middle-1--slider
                            .middle-1--block.middle-1__container--2                    
                                .middle-1__block
                                    h2.middle-1__title.middle-1__title--desktop Перелет бизнес-классом
                                    h2.middle-1__title.middle-1__title--desktop Air Astana
                                    h2.middle-1__title.middle-1__title--mobile Перелет бизнес-классом Air Astana
                                    .middle-1__text Air Astana — лучшая авиакомпания Центральной Азии и Индии по версии Skytrax и победитель премии Trevelers’Choice Awards 2019 в номинациях «Региональный азиатский перевозчик» и «Пассажирский комфорт в Азии». Флот авиакомпании состоит из 33 современных самолетов, выполняющих полеты по 67 направлениям.
            .middle-slider.slide
                .middle-2
                    .middle-2__image
                    .middle-2__container.container
                        .middle-2__block
                            h2.middle-2__title Проживание 
                            h2.middle-2__title в Нур-Султане  
                            .middle-2__text Нур-Султан — молодая и современная столица Казахстана, которая не оставит вас равнодушным.
            .middle-slider.slide    
                .middle-3
                    .middle-3__image
                    .middle-3__container.container
                        .middle-3__block
                            h2.middle-3__title Проживание 
                            h2.middle-3__title в курортном отеле 
                            h2.middle-3__title Rixos Borovoe 
                        .middle-3__text Пятизвездочный отель Rixos Borovoe находится на берегу невероятно красивого озера в окружении березовых и сосновых лесов. Отель располагает всеми удобствами для отдыха: бассейном, спа-центром, ресторанами и барами.
                        .middle-3__block--mobile
                            h2.middle-3__title Проживание 
                            h2.middle-3__title в курортном отеле 
                            h2.middle-3__title Rixos Borovoe 
                            .middle-3__text Пятизвездочный отель Rixos Borovoe находится на берегу невероятно красивого озера в окружении березовых и сосновых лесов. Отель располагает всеми удобствами для отдыха: бассейном, спа-центром, ресторанами и барами.
        section.scroll-slide.bottom-slide.section(data-anchor="thirdPage")
            .bottom__image
            .bottom__container.container
                .bottom__slides
                    .bottom--block
                        .bottom__1
                            h2.bottom__title Условия Акции:
                            .bottom__block
                                h2.block__number 1
                                .block__picture(style='background-image: url(static/img/checklist.png);')
                                h2.block__title Пройди тест
                            .bottom__block
                                h2.block__number 2
                                .block__picture(style='background-image: url(static/img/laptop.png);')
                                h2.block__title зарегистрируйся
                            .bottom__block
                                h2.block__number 3
                                .block__picture(style='background-image: url(static/img/departures.png);')
                                h2.block__title выиграй приз
                        .some-piece
                    .bottom--block
                        .some-piece
                        ul.bottom__2                    
                            li.bottom__item Для участия в конкурсе допускаются люди, достигшие 18 лет.
                            li.bottom__item Увеличение срока действия выигрыша (билета) не допускается.
                            li.bottom__item Победитель получает два билета бизнес-класса авиакомпании Эйр Астана», а также проживание в Астане и на курорте Боровое на двоих человек.
                            li.bottom__item Билеты действительны только на рейсах авиакомпании «Эйр Астана» и должны быть использованы до 31 декабря 2019 года.
                            li.bottom__item Тур может быть использован только победителем конкурса.
                            li.bottom__item Бронирование билетов производится минимум за 2 недели до вылета.
                            li.bottom__item Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов
                            li.bottom__item Данные билеты не имеют денежной стоимости, не могут быть использованы в коммерческих целях, проданы или использованы третьими лицами. 
                a(href='test.html').bottom__button.base-button Пройти тест
        footer.footer.section.fp-auto-height
            .footer__container.container
                a(href='index.html').footer__logo
                .footer__menu
                    ul.menu__list
                        li.menu__item #[a.menu__link(href='terms-of-action.html') Подробные условия акции]
                        li.menu__item #[a.menu__link(href='feedback.html') Связаться с нами]
                        li.menu__item #[a.menu__link(href='https://airastana.com') airastana.com]
                .footer__socials
                    ul.socials__list
                        li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/twitter-logo.png);')]
                        li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/instagram-logo.png);')]
                        li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/facebook-logo.png);')]
                        li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/youtube-logo.png);')]
                        li.socials__item #[a.socials__link(href='#' style='background-image: url(static/img/linkedin-logo.png);')]
                .footer__copyright &#169 airastana 2019