extends ../layout/base

block variables
    - pageTitle = 'Air Astana' 
    - activePage = 'main'
    - header = true
    - footer = true
    - cookies = true

block content  
    main.main-page
        section.scroll-slide.top-slide
            .top__image
            .top__container.container
                .top__block 
                    h2.top__title Выиграй поездку 
                    h2.top__title в Казахстан на двоих!
                    p.top__text Путешествие в Казахстан станет для вас незабываемым опытом. Познайте тайны Востока, найдите себя в затерянных красотах Борового и исследуйте сердце бескрайней степи — Нур-Султан вместе с Air Astana! 
                    a(href='test.html').top__button.base-button Пройти тест
        section.scroll-slide.middle-slide
            .middle-1
                .middle-1__image
                .middle-1__slides
                    .middle-1__container.container
                        h2.middle-1__title.middle-1__title--center Ответь правильно на 7 вопросов и выиграй ...
                    .middle-1__container.middle-1__container--2.container
                        .middle-1__block
                            h2.middle-1__title Перелет бизнес-классом
                            h2.middle-1__title Air Astana
                            .middle-1__text Air Astana — лучшая авиакомпания Центральной Азии и Индии по версии Skytrax и победитель премии Trevelers’Choice Awards 2019 в номинациях «Региональный азиатский перевозчик» и «Пассажирский комфорт в Азии». Флот авиакомпании состоит из 33 современных самолетов, выполняющих полеты по 67 направлениям.
            .middle-2
                .middle-2__image
                .middle-2__container.container
                    .middle-2__block
                        h2.middle-2__title Проживание 
                        h2.middle-2__title в Нур-Султане  
                        .middle-2__text Нур-Султан — молодая и современная столица Казахстана, которая не оставит вас равнодушным.
            .middle-3
                .middle-3__image
                .middle-3__container.container
                    .middle-3__block
                        h2.middle-3__title Проживание 
                        h2.middle-3__title в курортном отеле 
                        h2.middle-3__title Rixos Borovoe 
                    .middle-3__text Пятизвездочный отель Rixos Borovoe находится на берегу невероятно красивого озера в окружении березовых и сосновых лесов. Отель располагает всеми удобствами для отдыха: бассейном, спа-центром, ресторанами и барами.
        section.scroll-slide.bottom-slide
            .bottom__image
            .bottom__container.container
                .bottom__slides
                    .bottom__1
                        h2.bottom__title Условия Акции:
                        .bottom__block
                            h2.block__number 1
                            .block__picture(style='background-image: url(static/img/checklist.png);')
                            h2.block__title Пройди тест
                        .bottom__block
                            h2.block__number 2
                            .block__picture(style='background-image: url(static/img/laptop.png);')
                            h2.block__title зарегистрируйся
                        .bottom__block
                            h2.block__number 3
                            .block__picture(style='background-image: url(static/img/departures.png);')
                            h2.block__title выиграй приз
                    ul.bottom__2                    
                        li.bottom__item Для участия в конкурсе допускаются люди, достигшие 18 лет.
                        li.bottom__item Увеличение срока действия выигрыша (билета) не допускается.
                        li.bottom__item Победитель получает два билета бизнес-класса авиакомпании Эйр Астана», а также проживание в Астане и на курорте Боровое на двоих человек.
                        li.bottom__item Билеты действительны только на рейсах авиакомпании «Эйр Астана» и должны быть использованы до 31 декабря 2019 года.
                        li.bottom__item Тур может быть использован только победителем конкурса.
                        li.bottom__item Бронирование билетов производится минимум за 2 недели до вылета.
                        li.bottom__item Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов
                        li.bottom__item Данные билеты не имеют денежной стоимости, не могут быть использованы в коммерческих целях, проданы или использованы третьими лицами.
                a(href='test.html').bottom__button.base-button Пройти тест