extends ../layout/base

block variables
    - pageTitle = 'Air Astana | Условия Акции' 
    - activePage = 'terms-of-action'
    - header = true
    - footer = true
    - cookies = true
block content
    main
        section.action-terms
            .action-terms__container.container 
                h2.action-terms__title Подробные Условия Акции
                ol.action-terms__list
                    li.action-terms__item ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
                        ol.block__list  
                            li.block__item #[span Для участия в конкурсе допускаются люди, достигшие 18 лет.] Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов.
                            li.block__item #[span Для участия в конкурсе допускаются люди, достигшие 18 лет.] Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов. Победитель получает два билета бизнес-класса авиакомпании «Эйр Астана», а также проживание в Астане и на курорте Боровое на двоих человек. Тур может быть использован только победителем конкурса. Билеты действительны только на рейсах авиакомпании «Эйр Астана» и должны быть использованы до 31 декабря 2019 года. Бронирование билетов производится минимум за 2 недели до вылета. Увеличение срока действия выигрыша (билета) не допускается. Данные билеты не имеют денежной стоимости, не могут быть использованы в коммерческих целях, проданы или использованы третьими лицами.
                            li.block__item #[span Для участия в конкурсе допускаются люди, достигшие 18 лет.] Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов.<br>Победитель получает два билета бизнес-класса авиакомпании «Эйр Астана», а также проживание в Астане и на курорте Боровое на двоих человек. 
                                ul.win-conditions__list
                                    li.win-conditions__item Для участия в конкурсе допускаются люди, достигшие 18 лет. 
                                    li.win-conditions__item Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов.
                                    li.win-conditions__item Победитель получает два билета бизнес-класса авиакомпании «Эйр Астана», а также проживание в Астане и на курорте Боровое на двоих человек.
                                    li.win-conditions__item Тур может быть использован только победителем конкурса. 
                                    li.win-conditions__item Билеты действительны только на рейсах авиакомпании «Эйр Астана» и должны быть использованы до 31 декабря 2019 года.
                    li.action-terms__item ПРИЗЫ АКЦИИ:
                        ol.block__list
                            li.block__item #[span Для участия в конкурсе допускаются люди, достигшие 18 лет.] Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов.
                            li.block__item #[span Для участия в конкурсе допускаются люди, достигшие 18 лет.] Победитель будет определен методом случайного выбора из числа финалистов, ответивших правильно на 7 вопросов. Победитель получает два билета бизнес-класса авиакомпании «Эйр Астана», а также проживание в Астане и на курорте Боровое на двоих человек. Тур может быть использован только победителем конкурса. Билеты действительны только на рейсах авиакомпании «Эйр Астана» и должны быть использованы до 31 декабря 2019 года. Бронирование билетов производится минимум за 2 недели до вылета. Увеличение срока действия выигрыша (билета) не допускается. Данные билеты не имеют денежной стоимости, не могут быть использованы в коммерческих целях, проданы или использованы третьими лицами.


